﻿@model IEnumerable<Koduhaldus.Kasutaja>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
            Kasutaja kasutaja = Kasutaja.ByEmail(User.Identity.Name);

            if (kasutaja?.KasAdmin ?? false)
            {
        <p> 

            @Html.ActionLink("Create New", "Create")
        </p>

    }

}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KasAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KasAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    

</table>