﻿@model Koduhaldus.Tellimine
@using Koduhaldus.Models


@{
    ViewBag.Title = "Create";
}


<h2>Ostukorvis on</h2>
<table>
    @foreach (OstukorviRida or in ViewBag.Ostukorv.Values)
    {
        <tr>
            <td>
                @or.Teenus.nimetus
            </td>
            <td>@or.Mitu</td>

            @*<td>|</td>
            <td>@Html.ActionLink("Eemalda", "Maha", new { id = or.TeenusId })</td>*@


        </tr>
    }


</table>
@{
    IEnumerable<OstukorviRida> korv = ViewBag.Ostukorv.Values;
    var summa = korv.Select(x => x.Teenus.korrahind * x.Mitu).Sum();
    <p>Ostukorvi summa: @summa  EUR</p>
}



<h2>Sisestage andmed</h2>




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Tellimine</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.TeenusID, "TeenusID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TeenusID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeenusID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Aadress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aadress, new { htmlAttributes = new { @class = "form-control", required = "required" }})
                @Html.ValidationMessageFor(model => model.Aadress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control datepicker",required = "required" } })
                @Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kellaaeg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kellaaeg, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Kellaaeg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KasutajaID, "KasutajaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KasutajaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KasutajaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kinnitan" class="btn btn-default" />
            </div>
        </div>
    </div>
}
  

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
