﻿@model Koduhaldus.Tellimine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tellimine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kasutaja.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kasutaja.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teenus.nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teenus.nimetus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuupäev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kellaaeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kellaaeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
