﻿@model IEnumerable<Koduhaldus.Tellimine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kasutaja.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teenus.nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aadress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kellaaeg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kasutaja.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teenus.nimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aadress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuupäev)
        </td>
        <td>
            @{
        var kuupäev = item.Kuupäev?.ToString("dd.MMMM.yyyy");
        <p>@kuupäev</p>
            }
            @*@Html.DisplayFor(modelItem => item.Kellaaeg)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
