﻿@model Koduhaldus.Teenus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teenus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nimetus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.liik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.liik)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.tunnihind)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.tunnihind)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.korrahind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.korrahind)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
