﻿@model IEnumerable<Koduhaldus.Teenus>
@using Koduhaldus.Models





@{
    ViewBag.Title = "Teenuste tellimine";
}

<div class="row">
    <div class="col-md-8">

        <br />
        <br />
        <br />
        <center>
            <img src="~/Images/telli.png" style="width:500px;height:256px;">
        </center>
        <h2>Telli kohe!</h2>

        <h3>@ViewBag.Message</h3>

        @{
            Kasutaja kasutaja = Kasutaja.ByEmail(User.Identity.Name);

            if (kasutaja?.KasAdmin ?? false)
            {
            <p>

                @Html.ActionLink("Create New", "Create")
            </p>

            }

        }

        @*{
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        }*@
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nimetus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.liik)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.tunnihind)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.korrahind)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nimetus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.liik)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.tunnihind)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.korrahind)
                </td>


                <h3>@ViewBag.Message</h3>

                @{
                    if (kasutaja?.KasAdmin ?? false)
                    {
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>


                    }

                }



                <td>
                   
                    @Html.ActionLink("Tellin", "Telli", new { id = item.id })


                </td>
            </tr>

                    }

        </table>

        <h2>Sinu ostukorv</h2>
        <table>
            @foreach (OstukorviRida or in ViewBag.Ostukorv.Values)
            {
            <tr>
                <td>
                    @or.Teenus.nimetus
                </td>
                <td>@or.Mitu</td>

                <td>|</td>
                <td>@Html.ActionLink("Eemalda", "Maha", new { id = or.TeenusId })</td>


            </tr>
            }


        </table>
        @{
            IEnumerable<OstukorviRida> korv = ViewBag.Ostukorv.Values;
            var summa = korv.Select(x => x.Teenus.korrahind * x.Mitu).Sum();
        <p>Ostukorvi summa: @summa  EUR</p>
            }

            @{if (summa > 0)
                {
          @Html.ActionLink("Kinnita tellimus ja sisesta andmed", "Create", "Tellimines")
                    } }
        @*<div class="form-group">
            @Html.LabelFor(modelTellimine => modelTellimine.Aadress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aadress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aadress, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @{if (kasutaja?.KasAdmin ?? false)
            {
        <td>

            @Html.ActionLink("Vaata tehtud tellimusi", "Index", "Tellimines"@*, new { id = item.id }*@)
        </td>
                }
            }
    </div>
</div>