﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  MAJASOKK </> </title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui/jquery-ui.min.css")" />
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MAJASOKK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Esileht", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blogi", "Index", "Postitus")</li>
                    <li>@Html.ActionLink("Teenuste tellimine", "Index", "Teenus")</li>



                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container body-content">
        <br />
        <br />
        <br />
        <table style="width:100%; border:none; border-collapse: collapse;" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    @RenderBody()
                </td>
                <td style="background-color:azure; width: 20px">

                    <div style="padding: 0px 20px; font-family:Verdana, Times, serif; font-size:large">
                        <br />
                        <br />
                        <br />

                        Helista MAJASOKULE
                        tel. 322 233
                    </div>
                </td>
            <tr>
        </table>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MAJASOKK</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")

    <script src="@Url.Content("~/Content/jquery-ui/jquery-ui.min.js")"></script>
    @Styles.Render("~/Content/jquety-ui/images")
    @Scripts.Render("~/bundles/jqueryui")

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy',
               startDate: Date.now
            });

        });

    </script>
    <script>
        /* Estonian initialisation for the jQuery UI date picker plugin. */
        /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                // AMD. Register as an anonymous module.
                define(["../widgets/datepicker"], factory);
            } else {
                // Browser globals
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {
            datepicker.regional.et = {
                closeText: "Sulge",
                prevText: "Eelnev",
                nextText: "Järgnev",
                currentText: "Täna",
                monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni",
                    "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
                monthNamesShort: ["Jaan", "Veebr", "Märts", "Apr", "Mai", "Juuni",
                    "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
                dayNames: [
                    "Pühapäev",
                    "Esmaspäev",
                    "Teisipäev",
                    "Kolmapäev",
                    "Neljapäev",
                    "Reede",
                    "Laupäev"
                ],
                dayNamesShort: ["Pühap", "Esmasp", "Teisip", "Kolmap", "Neljap", "Reede", "Laup"],
                dayNamesMin: ["P", "E", "T", "K", "N", "R", "L"],
                weekHeader: "näd",
                dateFormat: "dd.mm.yy",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ""
            };
            datepicker.setDefaults(datepicker.regional.et);
            return datepicker.regional.et;
        }));
    </script>




    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
