﻿@model Koduhaldus.Postitus

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Postitus</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pealkiri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pealkiri, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pealkiri, "", new { @class = "text-danger" })
            </div>
        </div>


       
        <div class="form-group">
            @Html.LabelFor(model => model.Sisu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextAreaFor(model => model.Sisu, new { cols = "100", rows = "50" })*@
                @Html.TextAreaFor(model => model.Sisu, new { style = "width:1000px; height:600px;" })
                @*@Html.TextAreaFor(model => model.Sisu, 40, 40, new { HtmlAttributes = new { } })*@
                @Html.ValidationMessageFor(model => model.Sisu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@DateTime.Now*@
                @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KasutajaId, "KasutajaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KasutajaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KasutajaId, "", new { @class = "text-danger" })
            </div>
            @*Kasutaja: @ViewBag.KasutajaId*@

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KategooriaId, "KategooriaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategooriaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KategooriaId, "", new { @class = "text-danger" })
            </div>
        </div>







        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<h4>Lisa pilt</h4>
@using (Html.BeginForm(
                        "CreatePicture", "Postitus",
                                                                    FormMethod.Post,
                                                             new { enctype = "multipart/form-data" }))
{
    <label for="file">Lisa:</label>
            <input type="file" name="file" id="file" /><br><br>
            <input type="submit" value="Lisan" />
            <br><br>
            @ViewBag.Message
}*@


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
