﻿@model Koduhaldus.Postitus
@using Koduhaldus.Models



@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<dv>
    @*<h4>Postitus</h4>*@

    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Kasutaja.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kasutaja.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kategooria.Nimetus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategooria.Nimetus)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Pealkiri)
            </dt>*@

        <dd>
            <h4>@Html.DisplayFor(model => model.Pealkiri)</h4>
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Sisu)
            </dt>*@

        <dd>
            <br>
            <br>

            @*@{string näita = Model.Sisu.Replace("\n", "<br />");}*@
            <span style="white-space: pre-line">@Model.Sisu</span>

            @*<p>@näita</p>*@


            @*@Html.DisplayFor(model => model.Sisu) //kui ei tööta, pane see tagasi*@
        </dd>
        <br>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Kuupäev)

        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Kuupäev)*@
            @{
                var kuupäev = Model.Kuupäev?.ToString("dd.MMMM.yyyy");
                <p>@kuupäev</p>
            }
        </dd>

        <br>
        @*<a href="@Url.Action("Create", "Meeldimines")" title="LIKE!">
                <img src="..\..\Images\Like.jpg" style="width:30px;height:30px;">
            </a>*@
        <br>
        <br>
        <h4>Kommentaarid:</h4>

        @foreach (var item in Model.Kommentaar)
        {

            <dt>
                @Html.DisplayFor(modelItem => item.Kasutaja.Nimi)
            </dt>
            <dd>
                <span style="white-space: pre-line">@item.Sisu</span>
                @*@Html.DisplayFor(modelItem => item.Sisu)*@
            </dd>
        }
        @if (ViewBag.NewKommentaar != null)
        {
            using (Html.BeginForm())
            {
                Kommentaar kommentaar = ViewBag.NewKommentaar;
                @Html.AntiForgeryToken()

                <br>
                if (Request.IsAuthenticated)
                {
                    <div class="form-horizontal">
                        <h4>Sisesta kommentaar</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => kommentaar.PostitusId)
                        @*@Html.HiddenFor(model => model.KasutajaId)*@
                        @Html.HiddenFor(model => kommentaar.Kuupäev)

                        @*<div class="form-group">*@
                        @*@Html.LabelFor(model => model.PostitusId, "PostitusId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @*<div class="col-md-10">*@
                        @*@Html.DropDownList("PostitusId", null, htmlAttributes: new { @class = "form-control" })*@
                        @*@Html.ValidationMessageFor(model => model.PostitusId, "", new { @class = "text-danger" })*@
                        @*</div>*@
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.KasutajaId, "KasutajaId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("KasutajaId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.KasutajaId, "", new { @class = "text-danger" })


                        @*</div>*@

                    @*<div class="form-group">
                              @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2" })
                              <div class="col-md-10">
                                  @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control" } })
                                  @Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" })

                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.HiddenFor(model => kommentaar.KasutajaId)
                        @Html.LabelFor(model => kommentaar.Sisu, htmlAttributes: new { @class = "control-label col-md-2" })


                        <div class="col-md-10">
                            @*@Html.EditorFor(model => kommentaar.Sisu, new { htmlAttributes = new { @class = "control-label col-md-2" } })*@
                            @Html.TextAreaFor(model => kommentaar.Sisu, new { style = "width:1000px; height:600px;" })
                            @Html.ValidationMessageFor(model => kommentaar.Sisu, "", new { @class = "text-danger" })


                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lisa kommentaar" class="btn btn-default" />
                        </div>
                    </div>
                    @*</div>*@
                }
            }
        }





    </dl>
    </div>
    @{
        Kasutaja kasutaja = Kasutaja.ByEmail(User.Identity.Name);

        if (kasutaja?.KasAdmin ?? false)
        {
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

        }

    }
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
