﻿@model IEnumerable<Koduhaldus.Postitus>


@{
    ViewBag.Title = "Index";
}




<div class="row">
    <div class="col-md-13">

        <br />
        <br />
        <br />
        <center>
            <img src="~/Images/blogi.png" style="width:500px;height:256px;">
        </center>
            <h2>Majasokk kirjutab!</h2>
  
        @{
            Kasutaja kasutaja = Kasutaja.ByEmail(User.Identity.Name);

            if (kasutaja?.KasAdmin ?? false)
            {
                <p>

                   @Html.ActionLink("Create New", "Create")
                </p>

            }

        }

          

            <table class="table">
                @*<tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Kasutaja.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kategooria.Nimetus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pealkiri)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sisu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Kuupäev)
                    </th>
                    <th></th>
                </tr>*@

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Kasutaja.Email)*@
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Kategooria.Nimetus)
                    </td>*@
                    <td>
                        <h4> @Html.DisplayFor(modelItem => item.Pealkiri)</h4>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SisuLyhike)
                        @Html.ActionLink("Loe edasi", "Details", new { id = item.Id })
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Kuupäev)*@
                        @{ 
                            var kuupäev  =  item.Kuupäev?.ToString("dd.MMMM.yyyy");
                            <p>@kuupäev</p>
                         }
                    </td>
                    @*@if (Request.IsAuthenticated)
                    {


                    <td>
                        @Html.ActionLink("Kommenteeri", $"Create/{item.Id}", "Kommentaars")

                    </td>
                    }*@
                    <td>
                        @*<button type="button">LIKE!</button>*@
                        @*<input type="button" title="LIKE!" value="LIKE!" onclick="location.href='@Url.Action("Create", "Meeldimines")'" />*@



                    </td>
                    @{
                        //Kasutaja kasutaja1 = Kasutaja.ByEmail(User.Identity.Name);

                        if (kasutaja?.KasAdmin ?? false)
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                            </td>

                        }

                    }
                
                    

                        

                    
            


                </tr>
        }

            </table>
    </div>
</div>
