﻿ 

@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>*@
<br />
<br />
<br />
<center>
    
        <h3>Täname tellimuse eest!</h3>
        <h4>Majasokk asus teele...</h4>

        <img src="~/Images/onu.png" style="width:500px;height:256px;">
</center>
