﻿@{
    ViewBag.Title = "Home Page";
}


 <table style="width:100%; border:none; border-collapse: collapse;" cellspacing="0" cellpadding="0">
<tr>
<td>
<div class="row">
   <div class="col-md-8">
    
       <br />
       <br />
       <br />
           <img src="~/Images/logo.png" style="width:750px;height:384px;">
       <center>
           <h2 style="color:darkred"> KODUHALDUSTEENUS </h2>
           <h1 style="color:darkred; font-family:'Showcard Gothic' "> MAJASOKK </h1>
       </center>
       <p>
           <font size="4">
               Majasokk võimaldab tellida majapidamise korrashoiu ja lemmikloomade hoidmise teenust mugavalt veebist
               olenemata sellest, millises maailma paigas parajasti viibid.
       <p>
           Vali sulle sobiv aeg ning töökas Majasokk lööb sinu toad läikima, valmistab enne sinu kojujõudmist
           külmikust olevatest toiduainetest maitsva roa, triigib järgmiseks tööpäevaks särgid, toidab lemmikloomad
           ning soovi korral viib nad ka jalutama.
       </p>
       <p>
           Kui sul on kiire elutempo ja tunned, et kodu korrashoidmine kasvab üle pea, kutsu Majasokk appi!
       </p>

           </font>
       </p>
    
   </div>
</div> 
</td>
<td style="background-color:azure">
    
    <div style="padding: 0px 20px; font-family:Verdana, Times, serif; font-size:large">
        
     Helista MAJASOKULE
     tel. 322 233
    </div>
</td>
</tr>  
</table>
        </td>
    </tr>
</table>