﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

body {
    background-color: #FBEFF8;
    font-size: 1.25em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}
.navbar-inverse {
    background-color: #088A85;
    border-color: #68838b;
    font-size: 1.5em;
    
}
    .navbar-inverse .navbar-text {
        color: darkred;
        
    }

    .navbar-inverse .navbar-brand {
        color: darkred;
      
    }