﻿@model Koduhaldus.Kommentaar

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Kommentaar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostitusId)
        @Html.HiddenFor(model => model.KasutajaId)
        @Html.HiddenFor(model => model.Kuupäev)
        @*<div class="form-group">*@
            @*@Html.LabelFor(model => model.PostitusId, "PostitusId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<div class="col-md-10">*@
                @*@Html.DropDownList("PostitusId", null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.ValidationMessageFor(model => model.PostitusId, "", new { @class = "text-danger" })*@
            @*</div>*@
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.KasutajaId, "KasutajaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KasutajaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KasutajaId, "", new { @class = "text-danger" })
        

        @*</div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Kuupäev, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kuupäev, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kuupäev, "", new { @class = "text-danger" }) 

          </div>
      </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.Sisu, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sisu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sisu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    @*</div>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
