﻿@model Koduhaldus.Kommentaar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kommentaar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kuupäev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuupäev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sisu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sisu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kasutaja.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kasutaja.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitus.Pealkiri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitus.Pealkiri)
        </dd>

    </dl>
</div>
<p>  
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
